<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="b" class="com.education.spring.xml.example1.beans.B"/>

    <bean id="a" class="com.education.spring.xml.example1.beans.A">
        <constructor-arg ref="b"/>
    </bean>

</beans>