<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.education.spring.xml.example2.beans.annotated"/>

    <import resource="classpath:example1/Beans.xml" />

    <bean id="b1" class="com.education.spring.xml.example2.beans.B"/>

    <bean id="b2" class="com.education.spring.xml.example2.beans.other.B"/>

    <bean id="a" class="com.education.spring.xml.example2.beans.A">
        <constructor-arg ref="b1"/>
        <constructor-arg ref="b2"/>
        <!--<property name="bean" ref="b1"/>-->
        <property name="arr">
            <list>
                <ref bean="b2"/>
                <ref bean="b1"/>
            </list>
        </property>
    </bean>

</beans>